[mysqld]
port         = 3306
socket   = /tmp/mariadb.sock
user     = mysql
pid_file = mariadb.pid
# Not needed because by default no one can access from the outside,
# but you can uncomment this to explicitly forbid remote connections.
# bind_address = 0.0.0.0

# Paths
basedir                 = /usr/local/mariadb
datadir                 = /usr/local/mariadb/data/default
log_bin                 = /usr/local/mariadb/log/binlog
log_error               = /usr/local/mariadb/log/error.log
slow_query_log_file     = /usr/local/mariadb/log/slow.log
general_log_file        = /usr/local/mariadb/log/general.log
sql_error_log_filename  = /usr/local/mariadb/log/sqlerr.log

# Limits and Timeouts
max_connections      = 151
net_read_timeout     = 3
net_write_timeout    = 3
net_retry_count      = 5
connect_timeout      = 3
max_connect_errors   = 10
interactive_timeout  = 1800   # 30m
max_statement_time   = 3600   # 1h
idle_transaction_timeout           = 60
idle_write_transaction_timeout     = 60
idle_readonly_transaction_timeout  = 60
lock_wait_timeout    = 1800 # 30 mins
max_allowed_packet   = 1073741824
max_long_data_size   = 4294967295

# Table Caches
table_definition_cache  = 4000
table_open_cache        = 4000

# InnoDB
default_storage_engine        = InnoDB
innodb_buffer_pool_size       = 128M
innodb_log_file_size          = 48M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table         = ON
innodb_rollback_on_timeout    = 1

# Other Storage Engines
performance_schema      = 1
aria_recover_options    = BACKUP,FORCE
aria_repair_threads     = 2
myisam_recover_options  = BACKUP,FORCE
myisam_repair_threads   = 2

# Logging
log_output          = FILE
note_verbosity      = all
slow_query_log      = ON
long_query_time     = 2

# Binlog
sync_binlog                 = 1
binlog_format               = ROW
binlog_row_image            = FULL
binlog_row_metadata         = NO_LOG
binlog_expire_logs_seconds  = 86400 # 1 day
max_binlog_total_size       = 10G
log_bin_trust_function_creators = 1
binlog_annotate_row_events  = 1
binlog_checksum             = CRC32
binlog_cache_size           = 65536
binlog_file_cache_size      = 65536
binlog_stmt_cache_size      = 65536
binlog_alter_two_phase      = 1

# Character set
character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci

# Plugins
plugin_maturity   = experimental
userstat          = 1
plugin_load_add   = ha_tidesdb.so
plugin_load_add   = sql_errlog
sql_error_log_warnings = 1
sql_error_log_with_db_and_thread_info = 1
plugin_load_add   = password_reuse_check
password_reuse_check_interval = 30
plugin_load_add   = simple_password_check

# TidesDB
tidesdb_flush_threads      = 2
tidesdb_compaction_threads = 2
tidesdb_block_cache_size   = 268435456
tidesdb_max_open_sstables  = 256
tidesdb_log_level          = WARN

[client]
port                  = 3306
socket                = /tmp/mariadb.sock
default-character-set = utf8mb4

[mysqldump]
single_transaction
quick
max_allowed_packet = 64M

[mariadb-backup]
# mariabackup settings (defaults are fine)
